body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.img-fluid {
    display: block;
    max-width: 200%; /* Double the size of the image */
    height: auto;
    margin: auto; /* Center the image horizontally */
    margin-bottom: 20px; /* Add some space below the image */
}

.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(242, 242, 242, 0.8); /* Light pink background */
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ff4da6; /* Dark pink border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%; /* Set maximum width to 90% */
}

.button {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    color: black; /* Set button text color to black */
    background-color: transparent;
    border: 2px solid #ff6ec7; /* Pink border */
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    position: relative;
    overflow: hidden;
}

.button::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-color: #ff6ec7; /* Pink color */
    opacity: 0.5;
    transition: all 0.5s ease;
    border-radius: 50%;
}

.button:hover::before {
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
}

.button span {
    position: relative;
    z-index: 1;
}

.button:active::before {
    background-color: #ff4da6; /* Darker pink when button is pressed */
}
